<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cliente</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-dark text-white">
    <header class="container py-3">
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary rounded">
            <div class="container-fluid">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="btn btn-success me-2" href="{{ url_for('create_payment_commitment') }}">Crear Compromiso</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-info me-2" href="{{ url_for('list_payment_commitments') }}">Listar Compromisos</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-warning me-2" href="{{ url_for('create_client') }}">Crear Cliente</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary me-2" href="{{ url_for('list_clients') }}">Listar Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-danger" href="{{ url_for('logout') }}">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container mt-4">
        <h2 class="text-center">Crear Cliente</h2>
        <form action="{{ url_for('create_client') }}" method="POST" class="bg-secondary p-4 rounded">
            <div class="form-group">
                <label for="cliente">Cliente:</label>
                <input type="text" name="cliente" id="cliente" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="cedula">Cédula:</label>
                <input type="number" name="cedula" id="cedula" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="moto">Moto:</label>
                <input type="text" name="moto" id="moto" class="form-control">
            </div>
            <div class="form-group">
                <label for="placa">Placa:</label>
                <input type="text" name="placa" id="placa" class="form-control">
            </div>            
            <button type="submit" class="btn btn-success">Crear</button>
            <a href="{{ url_for('list_clients') }}" class="btn btn-primary">Volver a la Lista</a>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
