<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        
        .table-striped tbody tr:nth-of-type(odd) {
            background-color: #bfc9d1; /* Gris Oscuro */
            color: #000000; /* Letras Blancas */
        }
        .table-striped tbody tr:nth-of-type(even) {
            background-color: #f8f9fa; /* Gris Claro */
            color: #000000; /* Letras Negras */
        }
        
        .table-bordered th, .table-bordered td {
            border: 2px solid #6c757d; /* Bordes más oscuros */
        }
    </style>
</head>
<body class="bg-dark text-white">
    <header class="container py-3">
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary rounded">
            <div class="container-fluid">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="btn btn-success me-2" href="{{ url_for('crear_compromiso') }}">Crear Compromiso</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-info me-2" href="{{ url_for('list_payment_commitments') }}">Listar Compromisos</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-warning me-2" href="{{ url_for('create_client') }}">Crear Cliente</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary me-2" href="{{ url_for('list_clients') }}">Listar Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-dark me-2" href="{{ url_for('search_client') }}">Buscar Clientes</a>
                    </li>
                    <li class="nav-item">

                        <a class="btn btn-danger" href="{{ url_for('logout') }}">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container mt-4">
        <h2 class="text-center">Lista de Clientes</h2>
        <table class="table table-striped table-info">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Cliente</th>
                    <th>Cédula</th>
                    <th>Moto</th>
                    <th>Placa</th>                 


                </tr>
            </thead>
            <tbody>
                {% if clientes %}
                    {% for cliente in clientes %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ cliente['cliente'] }}</td>
                            <td>{{ cliente['cedula'] }}</td>
                            <td>{{ cliente['moto'] }}</td>
                            <td>{{ cliente['placa'] }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">No hay clientes disponibles.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <a href="{{ url_for('create_client') }}" class="btn btn-success">Crear Cliente</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
